.sideContainer {
  &__globalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  &__container {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100vh;
    background-color: white;
    transform: translate(100%, 0);
    transition: 0.3s;
    box-sizing: border-box;
    padding: 40px 40px 100px 40px;
    overflow-y: scroll;
  }

  &__closeButton {
    position: absolute;
    top: 15px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .sideContainer {
    &__container {
      width: 100%;
    }
  }
}
