.changePassword {
  &__form {
    text-align: center;
  }

  &__title {
    font-weight: 800;
    margin: 20px 0 50px 0;
  }

  &__button {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 500px;
    background-color: #70529d;
    color: white;
    transition: 0.5s;
    font-weight: 800;
    font-size: 15px;
    &:hover {
      transform: scale(1.05);
    }
  }
}
