.landingExplications {
  &__globalContainer {
    padding: 20px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    max-width: 700px;
  }

  &__flexContainer {
    display: flex;
    width: 100%;
  }

  &__flexElement {
    flex: 1;
    padding: 40px;
    text-align: center;
  }

  &__elementIcon {
    width: 200px;
  }

  &__elementTitle {
    font-weight: 800;
    font-size: 25px;
  }

  &__elementDescription {
    font-weight: 700;
    color: rgb(153, 153, 153);
  }
}
