.Snack {
  &__globalContainer {
    position: fixed;
    border-radius: 30px;
    background-color: #f55951;
    max-width: 700px;
    width: 80%;
    margin-left: 50%;
    margin-top: 1.5em;
    transform: translateX(-50%);
    color: white;
    padding: 1em;
    text-align: center;
    opacity: 0;
    transition: 0.2s;
    z-index: 1000;
    font-family: "MarkPro";
    font-size: 14px;
    font-weight: 700;
  }
}
