@import "../../../../basics.scss";
.profileButtons {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    margin: 70px 0 100px 0;
  }

  &__button {
    overflow: hidden;
    position: relative;
    border: 1px solid $border-grey;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    z-index: 2;
    font-family: $title-font;
    color: $dark;
    font-weight: 700;
    font-size: 25px;
    margin: 0 0 10px 0;
  }

  &__description {
    z-index: 2;
    font-family: $text-font;
    color: $dark;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 50px 0;
  }

  &__icon {
    z-index: 1;
    position: absolute;
    font-size: 120px;
    color: #f2ecf7;
    bottom: -20px;
    right: -10px;
  }

  &__actionButton {
    z-index: 2;
  }
}

@media (max-width: 945px) {
  .profileButtons {
    &__container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (max-width: 660px) {
  .profileButtons {
    &__container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
