$base-color: #500182;
$darker-base-color: #38025a;
$clearer-base-color: #d8aaf5;

$secondary-color: #fdc314;
$darker-secondary-color: #d8a50b;
$clearer-secondary-color: #f7e2a2;

$clear-grey: #e6e6e6;
