$dark: #2b262d;

$purple: #672ecc;
$yellow: #eebd33;
$green: #63ae77;

$clear-purple: #7444cb;
$clear-yellow: #fad04c;
$clear-green: #6ec685;

$purple-gradient: linear-gradient(
  86.03deg,
  #785bab -8.57%,
  #a268cf -8.56%,
  #6b40b6 57.35%,
  #6525d5 105.45%
);

$border-grey: #dedede;

$title-font: "Basier";
$text-font: "Robert";
