@font-face {
  font-family: "eina";
  src: url("./assets/fonts/Eina/Eina01-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "eina";
  src: url("./assets/fonts/Eina/Eina01-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "eina";
  src: url("./assets/fonts/Eina/Eina01-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "eina";
  src: url("./assets/fonts/Eina/Eina01-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("./assets/fonts/MarkPro/MarkPro-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("./assets/fonts/MarkPro/MarkPro-Heavy.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "eina";
  font-weight: 500;
  margin: 0;
  padding: 0;
}
