@font-face {
  font-family: "Robert";
  src: url("./assets/fonts/Robert/RobertSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Robert";
  src: url("./assets/fonts/Robert/RobertSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Robert";
  src: url("./assets/fonts/Robert/RobertSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Robert";
  src: url("./assets/fonts/Robert/RobertSans-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Robert";
  src: url("./assets/fonts/Robert/RobertSans-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Robert";
  src: url("./assets/fonts/Robert/RobertSans-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Robert";
  src: url("./assets/fonts/Robert/RobertSans-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Robert";
  src: url("./assets/fonts/Robert/RobertSans-Black.ttf") format("truetype");
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: "Basier";
  src: url("./assets/fonts/Basier/BasierSquare-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Basier";
  src: url("./assets/fonts/Basier/BasierSquare-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Basier";
  src: url("./assets/fonts/Basier/BasierSquare-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Basier";
  font-weight: 500;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #5a5a5a;
}
