@import "../../../../../basics.scss";

.lessonResult {
  &__container {
    background-color: white;
    border-radius: 20px;
    border: 1px solid $border-grey;
    cursor: pointer;
    transition: 0.5s;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 24px -10px rgba(66, 54, 92, 0.2);
    &:hover {
      transform: scale(1.01);
    }
  }

  &__likeContainer {
    color: #a7a7a7;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__lessonTitle {
    margin: 20px 0 0 0;
    font-size: 22px;
    font-family: $title-font;
    font-weight: 600;
    text-align: left;
    color: $dark;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__creatorContainer {
    margin-top: 5px;
    display: flex;
    align-items: center;
  }

  &__creatorImage {
    width: 23px;
    height: 23px;
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    border: 3px solid white;
  }

  &__creatorName {
    font-size: 11px;
    font-weight: 500;
    color: #646464;
  }

  &__description {
    color: $dark;
    font-family: $text-font;
    font-size: 13px;
    font-weight: 500;
    color: $dark;
    line-height: 20px;
    margin: 20px 0 30px 0;
    height: 60px;
    max-width: 300px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__detailContainer {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
  }

  &__detailIcon {
    font-size: 19px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__detailText {
    font-family: $text-font;
    font-size: 13px;
    margin: 0;
  }
}
