@import "../../../basics.scss";
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  img {
    height: auto;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid #8564b9;
    }
  }
}

.ProseMirror-focused {
  outline-width: 0;
}

.ProseMirror p.is-empty:first-child:before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-family: $text-font;
  font-weight: 500;
}

.ProseMirror p {
  font-family: $text-font;
  font-weight: 500;
}

.ProseMirror h1 {
  font-family: $title-font;
  font-weight: 600;
}

.ProseMirror h2 {
  font-family: $title-font;
  font-weight: 600;
}

.editor {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }

  &__contentContainer {
    // border: 1px solid red;
    width: 100%;
    max-width: 1000px;
    padding: 0 50px 0 50px;
    position: relative;
    box-sizing: border-box;
  }

  &__editor {
    &:focus {
      outline-width: 0;
    }
  }

  &__bottomButtons {
    &__container {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $purple-gradient;
        border-radius: 500px;
        z-index: -1;
      }
      position: fixed;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }
  }

  &__saveButton,
  &__infoButton {
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    background-color: transparent;
    color: white;
    font-family: $text-font;
    font-weight: 800;
    &:hover {
      color: #d5cde0;
    }
  }

  &__saveButton {
    padding: 15px 20px 15px 25px;
  }

  &__infoButton {
    margin-left: -1px;
    padding: 15px 25px 15px 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      height: 60%;
      width: 1px;
      background-color: white;
      transform: translateY(-50%);
    }
  }
}
