@import "../../../basics.scss";
.createLesson {
  &__globalContainer {
    position: relative;
    min-height: 100vh;
    &::after {
      content: "";
      position: absolute;
      background-color: #fff;
      top: 0;
      left: 0;
      height: 300px;
      width: 100%;
      z-index: -1;
    }

    &::before {
      content: "";
      position: absolute;
      background: $purple-gradient;
      bottom: 0;
      left: 0;
      height: calc(100% - 300px);
      width: 100%;
      z-index: -1;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__whiteContainer {
    border: 1px solid $border-grey;
    background-color: white;
    padding: 50px 30px;
    width: 100%;
    max-width: 700px;
    border-radius: 15px;
    margin: 50px 0;
    box-shadow: 3px 3px 30px 0 rgba(85, 85, 85, 0.075);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__subTitle {
    font-size: 14px;
    font-weight: 400;
    font-family: $text-font;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-family: "Basier";
    font-weight: 800;
    margin: 10px;
    font-size: 34px;
  }

  &__stepsContainer {
    max-width: 400px;
    width: 100%;
    padding: 20px 0;
  }
}
