.forgotPassword {
  &__stepTitle {
    text-align: center;
    font-family: "MarkPro";
    font-size: 27px;
    font-weight: 800;
    text-align: center;
    margin: 20px 0 10px 0;
  }

  &__stepDescription {
    font-family: "eina";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    margin: 0;
  }

  &__stepButton {
    background-color: #9652b6;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-family: "MarkPro";
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
    &:hover {
      transform: scale(1.03);
    }
  }
}
