.profileTabs {
  &__container {
    padding: 10px 0;
    display: flex;
  }

  &__leftContainer {
    display: flex;
    flex-grow: 1;
  }

  &__tab,
  &__currentTab {
    font-family: "Basier";
    font-weight: 700;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
  }

  &__tab::after,
  &__currentTab::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 5px;
    background-color: #70529d;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    transition: 0.5s;
  }

  &__tab::after {
    opacity: 0;
  }

  &__currentTab::after {
    opacity: 1;
  }

  &__tabButton {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 6px;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
