@import "../../../basics.scss";

.contentTable {
  &__container {
    background-color: #fff;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__element {
    color: $dark;
    cursor: pointer;
    padding: 5px 0;
    text-align: center;
    transition: 0.5s;
    line-height: 26px;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__noTitle {
    color: $dark;
    font-family: $text-font;
    font-size: 14px;
    font-weight: 500;
  }
}
