.modalFilters {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  &__title {
    font-family: "MarkPro";
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 5px;
  }

  &__subTitle {
    font-family: "eina";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    width: 350px;
    text-align: center;
  }

  &__button {
    border-radius: 20px;
    background-color: #70529d;
    color: white;
    font-family: "MarkPro";
    font-weight: 700;
    border: none;
    font-size: 17px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
    transition: 0.5s;
    &:hover {
      transform: scale(1.02);
    }
  }
}
