.createLesson {
  &__thirdStep {
    &__container {
      max-width: 400px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__inputSeparator {
      height: 5px;
    }
  }
}
