@import "../../../../../basics.scss";

.userInfos {
  &__title {
    margin: 50px 0 40px 0;
  }

  &__loading {
    margin: 100px 0;
  }

  &__element {
    font-size: 14px;
    font-family: $text-font;
    font-weight: 500;
    line-height: 25px;
  }
}
