@import "../../../basics.scss";
.profile {
  &__globalContainer {
    background-color: #fff;
  }

  &__loadingContainer {
    padding: 20px 0;
    text-align: center;
  }

  &__loadingTitle {
    font-family: $title-font;
    font-weight: 700;
  }
}
