.profile {
  &__globalContainer {
    background-color: #f4f0fc;
    min-height: 100vh;
  }

  &__loadingContainer {
    padding: 20px 0;
    text-align: center;
  }

  &__loadingTitle {
    font-family: "Basier";
    font-weight: 800;
  }
}
