.lessonDetails {
  &__globalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }

  &__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  &__container {
    position: absolute;
    background-color: white;
    height: 95vh;
    width: 100%;
    bottom: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transition: 0.5s;
    transform: translateY(100%);
    padding: 100px 20px 50px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__wrapper {
    // border: 1px solid red;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__header {
    // border: 1px solid red;
    max-width: 700px;
    width: 100%;
    padding: 10px 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &__leftContainer,
    &__rightContainer {
      // border: 1px solid blue;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__button {
      border: 2px solid black;
      padding: 10px 20px;
      color: black;
      font-size: 15px;
      font-family: "Basier";
      font-weight: 800;
      background-color: white;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.5s;
      z-index: 10;
      margin: 0 5px;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__lesson {
    &__subTitle {
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      margin: 0;
    }

    &__name {
      font-size: 35px;
      font-family: "Basier";
      font-weight: 800;
      text-align: center;
      margin: 5px 0 20px 0;
    }

    &__description {
      margin: 10px 0 20px 0;
      max-width: 400px;
    }

    &__contentTable {
      border: none;
      padding: 10px 20px;
      color: white;
      font-size: 15px;
      font-family: "Basier";
      font-weight: 700;
      margin-top: 10px;
      background-color: #70529d;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.5s;
      z-index: 10;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__detailsContainer {
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    max-width: 700px;
    padding: 50px 0;
  }

  &__detailContainer {
    border-radius: 10px;
    background-color: #f3f0fc;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
  }

  &__iconContainer {
    // border: 1px solid red;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #472779;
    background-color: #c5b3df;
    margin-bottom: 10px;
  }

  &__detailIcon {
    font-size: 25px;
  }

  &__detailTitle {
    margin: 10px 0 0 0;
    font-family: "Basier";
    font-size: 22px;
    max-width: 150px;
  }

  &__detailContent {
    text-transform: capitalize;
    margin: 5px 0 0 0;
    font-size: 14px;
  }
}
