.logo {
  &__container {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    font-weight: 800;
    width: min-content;
    cursor: pointer;
  }

  &__image {
    margin-right: 10px;
  }
}
