@import "../../../basics.scss";
.checkbox {
  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__button {
    cursor: pointer;
    min-width: 20px;
    width: 20px;
    min-height: 20px;
    height: 20px;
    margin-right: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    &__indicator {
      color: white;
      padding-top: 2px;
    }
  }
}
