@import "../../../../basics.scss";
.lessonInformations {
  &__wrapper {
    background: white;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 0 20px 0;
  }

  &__subTitle {
    font-size: 15px;
    font-family: $title-font;
    font-weight: 600;
    color: white;
    padding: 12px 25px;
    border-radius: 100px;
    background: $purple-gradient;
    margin: 0;
    opacity: 0.8;
  }

  &__title {
    color: $dark;
    font-family: $title-font;
    font-weight: 700;
    font-size: 42px;
    margin: 20px 0 5px 0;
    text-align: center;
  }

  &__creatorText {
    font-family: $text-font;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: $dark;
    margin: 0;
  }

  &__creatorName {
    display: inline;
    color: $dark;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
