.select {
  &__container {
    border: 1px solid #dadee3;
    margin: 12px 0;
    width: 100%;
    border-radius: 4px;
    background: #fff;
    position: relative;
    padding: 6px 0 5px 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, calc(-100% - 5px));
    padding: 2px 5px;
    color: rgb(63, 63, 63);
    transition: 0.5s;
    font-family: "MarkPro";
    font-size: 12px;
    font-weight: 700;
  }
}
