@import "../../../../basics.scss";

.searchResults {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 50px 0;
  }

  &__title {
    text-align: center;
    font-family: $title-font;
    font-weight: 700;
    margin: 0;
    font-size: 26px;
    color: $dark;
  }

  &__globalContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    margin-bottom: 100px;
  }

  &__loadMoreResults,
  &__noMoreResults {
    background: $purple-gradient;
    border-radius: 20px;
    transition: 0.5s;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
      font-family: $title-font;
      max-width: 230px;
      font-weight: 600;
      font-size: 22px;
      color: white;
      text-align: center;
    }
  }

  &__noResults {
    background: $purple-gradient;
    display: flex;
    flex-direction: column;
    padding: 50px 0 50px 0;
    margin: 50px 0 50px 0;
    border-radius: 20px;
    align-items: center;
    &__title {
      font-family: $title-font;
      font-weight: 700;
      color: white;
      font-size: 24px;
      text-align: center;
      width: 100%;
      margin: 0 0 20px 0;
    }
  }
}

@media (max-width: 1060px) {
  .searchResults {
    &__globalContainer {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (max-width: 650px) {
  .searchResults {
    &__globalContainer {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &__title {
      text-align: left;
      font-size: 23px;
    }
  }
}
