.searchResults {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto 40px auto;
  }

  &__subTitle {
    font-size: 14px;
    font-family: "eina";
    font-weight: 400;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-family: "MarkPro";
    font-weight: 800;
    margin: 0;
    font-size: 34px;
  }

  &__globalContainer {
    display: flex;
    flex-wrap: wrap;
  }
}
