@import "../../../../../basics.scss";
.searchFilters {
  &__globalContainer {
    display: flex;
    justify-content: flex-end;
  }

  &__showFilters {
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    width: max-content;

    &__filtersLength {
      margin-left: 20px;
      background-color: white;
      color: $purple;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
