@import "../../../basics.scss";
.lesson {
  &__globalContainer {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__loaderContainer {
    padding: 150px 0;
    min-height: calc(100vh - 500px);
  }

  &__background {
    min-height: calc(100vh - 500px);
    background: linear-gradient(
      90deg,
      #785bab -8.57%,
      #a268cf -8.56%,
      #6b40b6 57.35%,
      #6525d5 105.45%
    );
  }
}
