@import "../../../basics.scss";
.searchLessons {
  &__globalContainer {
    background-color: #fff;
  }

  &__container {
  }

  &__header {
    margin: 120px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      color: $dark;
      position: relative;
      font-size: 40px;
      color: $dark;
      margin: 0 0 30px 0;
      text-align: center;
    }
  }

  &__searchBar {
    overflow: hidden;
    width: 300px;
    background-color: white;
    border-radius: 500px;
    height: 55px;
    border: 3px solid $dark;
    display: flex;
    align-items: center;
    padding: 0 10px 0 30px;
  }

  &__input {
    color: $dark;
    border: none;
    height: 100%;
    flex-grow: 1;
    font-family: $text-font;
    font-weight: 400;
    font-size: 15px;
    &::label {
      color: rgb(131, 131, 131);
    }
    &:focus {
      outline: none;
    }
  }

  &__searchButton {
    height: 35px;
    border-radius: 20px;
    background-color: #70529d;
    color: white;
    font-family: "Basier";
    font-weight: 700;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 0 15px;
  }

  &__resultsContainer {
    margin-top: 70px;
  }
}
